<div class="form-group">
        <label for="firstname">Select Language</label>
        <select ng-model="culture" class="form-control" id="culture">
        	<option value="en-in">English</option>
        	<option value="ar-bh">Bahrain - Arabic</option>
        	<option value="nl-be">Belgium - Dutch</option>
        	<option value="fr-fr">France - French</option>
        	<option value="th-th">Thailand - Thai</option>
        </select>
</div>
<button type="button" class="btn btn-success" ng-click="landing(culture)">Go</button>